# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de MongoDB
MONGODB_URI=mongodb://localhost:27017/hexagonal-db

# Configuración de JWT (para futura implementación)
JWT_SECRET=your-secret-key
JWT_EXPIRATION=1h

# Configuración de CORS
CORS_ORIGIN=http://localhost:3000 