# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/hexagonal-db

# Application Configuration
PORT=3000
NODE_ENV=development

# JWT Configuration (if needed later)
JWT_SECRET=your-secret-key
JWT_EXPIRATION=1d

# API Configuration
API_PREFIX=/api/v1
SWAGGER_PATH=/api-docs

# Logging Configuration
LOG_LEVEL=debug

# Configuración de CORS
CORS_ORIGIN=http://localhost:3000 