# Dependencies
node_modules
.pnpm-store

# Compiled output
/dist
/build
/out

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tests
/coverage
/.nyc_output

# OS
.DS_Store
Thumbs.db 